.content {
  flex: 3;
  display: flex;
  flex-direction: row;
}

.players {
  flex: 4;
  display: grid;
}

.players[data-count="1"] {
  grid-template-areas: "a";
}

.players[data-count="2"] {
  grid-template-areas:
    "a"
    "b";
}

.players[data-count="3"] {
  grid-template-areas:
    "a a"
    "b c";
}

.players[data-count="4"] {
  grid-template-areas:
    "a b"
    "c d";
}

.players[data-count="5"] {
  grid-template-areas:
    "a a"
    "b c"
    "d e";
}

.players[data-count="6"] {
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}

.players[data-count="7"] {
  grid-template-areas:
    "a a a"
    "b c d"
    "e f g";
}

.players[data-count="8"] {
  grid-template-areas:
    "a a b"
    "c d e"
    "f g h";
}

.players[data-count="9"] {
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.player-wrapper {
  position: relative;
}

.player-wrapper .uptime {
  position: absolute;
  top: 1.25rem;
  right: 4.5rem;
  pointer-events: none;
}

.chats[data-open="true"] {
  width: 425px;
}

.chats[data-open="true"] > div {
  width: 100%;
  text-align: center;
}

.chats[data-open="false"] {
  width: auto;
}

.chats[data-open="false"] > div {
  position: absolute;
  width: 20px;
  right: 75px;
  top: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

iframe[data-selected="false"] {
  display: none;
}

iframe[data-selected="true"] {
  display: block;
}

details[open] summary {
  display: none;
}

summary, legend {
  cursor: pointer;
  text-decoration: underline;
}

fieldset {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  width: 50vmax;
}

fieldset > *, fieldset > div > div {
  text-align: center;
  flex: 1;
  display: flex;
}

fieldset > * {
  flex-direction: column;
}

fieldset > legend > button {
  all: unset;
  cursor: pointer;
}

.react-checkbox-tree {
  color: black;
  background-color: white;
  max-height: 25vh;
  overflow: scroll;
}

.r2-group .rct-node-icon {
  display: none;
}

.rct-username-offline .rct-node-icon {
  display: inline-block;
}

.rct-username-online .rct-node-icon {
  display: inline-block;
}

.rct-username-offline {
  color: grey;
}

.rct-username-online {
  color: black;
}

.connectionIndicator {
  background-color: red;
  color: white;
  padding: 0.135rem 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  width: max-content;
  user-select: none;
}

summary.connectionIndicator {
  margin-left: 1rem;
}

.connectionIndicator[data-status="Open"]{
  background-color: lime;
  color: black;
}