.content {
  flex: 3;
  display: flex;
  flex-direction: row;
}

.players {
  flex: 4;
  display: grid;
}

.players[data-count="1"] {
  grid-template-areas: "a";
}

.players[data-count="2"] {
  grid-template-areas:
    "a"
    "b";
}

.players[data-count="3"] {
  grid-template-areas:
    "a a"
    "b c";
}

.players[data-count="4"] {
  grid-template-areas:
    "a b"
    "c d";
}

.players[data-count="5"] {
  grid-template-areas:
    "a a"
    "b c"
    "d e";
}

.players[data-count="6"] {
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}

.players[data-count="7"] {
  grid-template-areas:
    "a a a"
    "b c d"
    "e f g";
}

.players[data-count="8"] {
  grid-template-areas:
    "a a b"
    "c d e"
    "f g h";
}

.players[data-count="9"] {
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.player-wrapper {
  position: relative;
}

.player-wrapper .uptime {
  position: absolute;
  top: 1.25rem;
  right: 4.5rem;
  pointer-events: none;
}

.chats {
  display: flex;
  flex-direction: column;
  width: 425px;
}

.chats[data-open="true"] > div {
  width: 100%;
  text-align: center;
}

.chats[data-open="false"] {
  width: auto;
}

.chats[data-open="false"] > div {
  position: absolute;
  width: 20px;
  right: 75px;
  top: 0;
}

.chats ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: .1rem;
}

.channel-chat-circle {
  flex: 1;
  width: 4vw;
  text-align: center;
}


.channel-chat-circle button {
  all: unset;
  cursor: pointer;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  outline: 2px solid grey;
	transition: all 0.5s;
  background-image: var(--background-image);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.channel-chat-circle[data-selected="true"] button {
  outline: 2px solid lime;
}

.channel-chat-circle[data-has-count="true"] button {
	border-top-right-radius: 5px;
  animation: fade 15s forwards;
}

.channel-chat-circle span {
  position: absolute;
  top: 0;
  right: 0.1rem;
  color: #fff;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.3s;
  -webkit-text-stroke: 1px black;
  border-bottom-left-radius: 1rem;
}

@keyframes fade {
  from {
    outline: 2px solid aqua;
  }
  to {
    outline: 2px solid grey;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

iframe[data-selected="false"] {
  display: none;
}

iframe[data-selected="true"] {
  display: block;
}

details[open] summary {
  display: none;
}

summary, legend {
  cursor: pointer;
  text-decoration: underline;
}

.main-controls fieldset {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  width: 50vmax;
}

.main-controls fieldset > *, fieldset > div > div {
  text-align: center;
  flex: 1;
  display: flex;
}

.main-controls fieldset > * {
  flex-direction: column;
}

fieldset > legend > button {
  all: unset;
  cursor: pointer;
}

.react-checkbox-tree {
  color: black;
  background-color: white;
  max-height: 25vh;
  overflow: scroll;
}

.r2-group .rct-node-icon {
  display: none;
}

.rct-username-offline .rct-node-icon {
  display: inline-block;
}

.rct-username-online .rct-node-icon {
  display: inline-block;
}

.rct-username-offline {
  color: grey;
}

.rct-username-online {
  color: black;
}

.connectionIndicator {
  background-color: red;
  color: white;
  padding: 0.135rem 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  width: max-content;
  user-select: none;
}

summary.connectionIndicator {
  margin-left: 1rem;
}

.connectionIndicator[data-status="Open"]{
  background-color: lime;
  color: black;
}

.chat-controls legend {
  margin-left: auto;
}

.chat-controls summary {
  position: absolute;
  top: 0;
  right: 0;
}

.chat-controls fieldset {
  display: flex;
  flex-direction: column;
}

.chat-controls fieldset > div {
  margin: auto;
  padding-bottom: 0.5rem;
}